html, body {
	height: 100%;
	width:  100%;
	background-color: #fff;
	padding: 0;
	margin:  0;
}

.container {
	width: 400px;
	margin: 50px auto;
}

.board {
	width: 100%;
	height: 100%;
	border: 1px solid #eee;
}

.tile {
	background-color: #aaa;
	height: 96px;
	width:  96px;
	float:  left;
	line-height: 100px;
	text-align: center;
	font-size: 72px;
	border: 2px solid #eee;
	color: #eee;
}

.empty {
	background-color: #eee;
}

.tile:nth-child(4n + 1) {
	clear: both;
}
